doctype html
html
  head
    title Not Seek
    style
      include style.css
  body 
    h1 Latest Vacancies
    div(class='TestJobs')
      ul
        each job in jobs
         li
            a(href=`/other.html?id=${job.uuid}`) #{job.title}