doctype html
html
  head
    title Not Seek
    style
      include style.css
  body 
    h1 Latest Vacancies
    div(class='TestJobs', (click)='test()')
      ul
        each job in jobs
         li
            button(onclick='gotoDeets(#{job.id}') #{job.title}